* {
    font-family: 'Poppins', sans-serif;
}

#footer p, 
hr,
#header h1 a {
    display: none !important;
}

#homepage,
#categories,
#contact {
    padding-bottom: 50px;
}

#pageTitle {
    font-size: 20px;
    font-weight: unset !important;
}

#categoryTitle {
    margin-top: -12px !important;
    margin-bottom: 1rem;
    font-size: 14px;
}

body {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    body {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    body {
        max-width: 1320px;
    }
}

#homepage #shopNow {
    padding: 10px 50px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: unset !important;
    margin-top: 25px;
}

#homepage #shopNow:hover {
    background: #8b0000;
    color: #fff;
}

#navBtn a {
    position: relative;
    color: #000;
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
}

#featured .btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 31px;
    border-radius: unset !important;
}

#featured #featuredProductTitle,
#blog #blogSubtitle {
    font-size: 12px;
    color: rgb(177, 177, 177) !important;
}