* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

#footer p, 
hr,
#header h1 a {
    display: none !important;
}

#homepage,
#categories,
#blog,
#products {
    height: 100vh;
}

#quote {
    height: 50vh;
    background-color: #f9f9f9;
}


nav li a,
nav #navBtn a {
    font-size: 1.1rem;
}

#pageTitle {
    font-size: 27px;
    font-weight: 500 !important; 
}

#quoteText {
    font-weight: 500 !important;
    font-size: 26px !important;
}

.quote-subtitle {
    font-weight: 400 !important;
    font-size: 18px !important;
    margin-top: 25px;
}

#categoryTitle {
    margin-top: -12px !important;
    margin-bottom: 1rem;
}


.subtitle {
    font-size: 17px !important;
}

#products #featuredProductTitle,
#blog #blogSubtitle {
    font-size: 12px;
    color: rgb(177, 177, 177) !important;
}

.homepage-bg {
    width: 390px;
    height: 450px;
}


#homepage #shopNow {
    padding: 8px 38px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: unset !important;
}

#homepage #shopNow:hover {
    background: #8b0000;
    color: #fff;
}

#navBtn a {
    position: relative;
    color: #000;
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
}

#products .btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 31px;
    border-radius: unset !important;
}

#quote .btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 33px;
    border-radius: unset !important;
    font-weight: 500;
}

#products .featured-products .cart {
    background-color: #000; 
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#products .featured-products .cart span {
    font-weight: 500;
}
