/* @media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.25rem;
    }
    img {
        height: 500px;
        width: auto;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
    }
    img {
        height: 600px;
        width: auto;
    }
} */

@media (min-width: 1680px) {
    h1 {
        font-size: 4rem;
    }

    p,
    nav li a,
    nav #navBtn a  {
        font-size: 1.5rem;
    }
    
    #homepage img {
        height: 710px !important;
        width: 621px !important;
    }

    nav .logo figure img {
        height: 216px !important;
        width: auto;
    }

    #categories img {
        height: 485px !important;
        width: 600px !important;
    }

    #pageTitle {
        font-size: 36px !important;
    }

    #categoryTitle {
        font-size: 28px !important;
    }

    #products img {
        height: 375px !important;
        width: 375px !important;
    }

    #products .featured-products .cart {
        font-size: 19px !important;
        padding: 14px !important;
    }

    #homepage #shopNow {
        padding: 17px 72px !important;
    }

    .subtitle {
        font-size: 22px !important;
    }

    #quoteText {
        font-size: 55px !important;
    }

    .quote-subtitle {
        font-size: 26px !important;
    }

    #quote .btn {
        padding: 20px 66px !important;
        font-size: 23px !important;
    }
}